body {
    font-family: 'helvetica';
    /* font-family: Tahoma, Geneva, Verdana, sans-serif; */
    background-repeat:round;
    background-size:cover;
    margin: 0;
    position: relative;   
    text-align: center; 
    background: #eaafc8;
  background: -webkit-linear-gradient(to right, #d2afea, #654ea3);
  background: linear-gradient(to right, #d2afea, #654ea3);
}

.table-container table, tr, td, th{
    background-color: #f5eeee;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    margin: 3px auto;
}

.done {
    text-decoration: line-through;
}
h1,h2{
    text-align: center;
    display: inline-block;
    padding: 5px;
    text-shadow: 3px 4px 5px rgba(114, 150, 150, 0.81);
}

.todo-filter {
    padding: 5px;

}

.complete {
    filter: opacity(0.5);
}

.add-todo {
    padding: 5px;
}

.todo-stat {
    background-color: rgb(204, 211, 218);
    padding: 5px;
    margin: auto;
    width: fit-content;
}

.todo-stat span {
    color: #ED50F1;
}

.todo-stat h4{
    margin: 0;
}

.add-btn, .edit-btn, .remove-btn, .arrow-up, .arrow-down{
    background-color:  #9c3692bb;
    margin: 5px;
    border: 1px solid rgb(92, 91, 91);
    color: white;
    width: 100px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

button:hover{
    cursor: pointer;
    background-color: #da3ddd;

}

input {
    padding: 5px;
    
}

input.input-checkbox{
    width: 20px;
    height: 20px;
}

select{
    padding: 5px
}

.card{
    width: 250px;
    height: 550px;
    background-color: #f5eeee;
    margin: 30px 10px;
    border: 1px solid grey;
    position: relative;
    
}

.card p{
    position: relative;
    text-align: left;
    left: 10px;
}

.table-container{
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}


.marked{
    background-color: rgb(175, 172, 172);
}

.main-paging-section button{
    margin: 20px 2px;
    border: 1px solid grey;
    color: rgb(90, 24, 134);
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
}


